@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Click <b>`Tournaments`</b> option to see your tournaments and manage them</p>
    <img alt="ChessTourManager logo" src="ChessTourManagerLogo.png" class="img-fluid" />
</div>
