@model ChessTourManager.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

@* Boxes to enter username and password *@
<div class="form-group">
    <label asp-for="UserName">Input your username</label>
    <input asp-for="UserName" class="form-control"/>
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control"/>
    <span asp-validation-for="Password" class="text-danger"></span>
</div>

@* Button to submit the form *@
<div class="form-group">
    <input type="submit" value="Login" class="btn btn-primary"/>
</div>

@* Link to the register page *@
<p>
    Don't have an account? <a asp-action="Error">Register</a>
</p>
