
[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = private, protected, internal, public, file, required, virtual, override, static, new, async, abstract, extern, unsafe, volatile, sealed, readonly:suggestion
csharp_prefer_braces = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_list_pattern = true
resharper_align_multiline_parameter = true
resharper_align_multiline_property_pattern = true
resharper_align_multiline_type_parameter_constraints = true
resharper_align_multiline_type_parameter_list = true
resharper_align_multiple_declaration = true
resharper_apply_auto_detected_rules = false
resharper_arguments_skip_single = true
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_after_using_list = 0
resharper_blank_lines_around_accessor = 1
resharper_braces_redundant = true
resharper_csharp_alignment_tab_fill_style = optimal_fill
resharper_csharp_allow_comment_after_lbrace = true
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_indent_style = tab
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_max_line_length = 1495
resharper_csharp_outdent_commas = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_lines = false
resharper_csharp_wrap_multiple_declaration_style = chop_always
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_nested_for_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_pars = outside_and_inside
resharper_indent_preprocessor_if = do_not_change
resharper_indent_preprocessor_other = do_not_change
resharper_instance_members_qualify_declared_in = 
resharper_int_align_property_patterns = true
resharper_int_align_switch_sections = true
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_embedded_block_arrangement = true
resharper_keep_existing_expr_member_arrangement = false
resharper_local_function_body = expression_body
resharper_max_array_initializer_elements_on_line = 2
resharper_max_attribute_length_for_same_line = 70
resharper_method_or_operator_body = expression_body
resharper_new_line_before_while = true
resharper_outdent_binary_pattern_ops = true
resharper_parentheses_non_obvious_operations = none, shift
resharper_parentheses_same_type_operations = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_attribute_on_same_line = false
resharper_place_expr_method_on_single_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_record_field_attribute_on_same_line = true
resharper_place_simple_accessor_on_single_line = false
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_within_list_pattern_brackets = true
resharper_trailing_comma_in_multiline_lists = true
resharper_use_indent_from_vs = false
resharper_wrap_after_primary_constructor_declaration_lpar = false
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_list_pattern = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_always

# ReSharper inspection severities
resharper_arrange_attributes_highlighting = hint
resharper_arrange_constructor_or_destructor_body_highlighting = hint
resharper_arrange_local_function_body_highlighting = hint
resharper_arrange_method_or_operator_body_highlighting = hint
resharper_arrange_missing_parentheses_highlighting = hint
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = none
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_async_void_method_highlighting = warning
resharper_bad_attribute_brackets_spaces_highlighting = suggestion
resharper_bad_child_statement_indent_highlighting = suggestion
resharper_bad_colon_spaces_highlighting = suggestion
resharper_bad_comma_spaces_highlighting = suggestion
resharper_bad_control_braces_line_breaks_highlighting = suggestion
resharper_bad_declaration_braces_indent_highlighting = suggestion
resharper_bad_declaration_braces_line_breaks_highlighting = suggestion
resharper_bad_empty_braces_line_breaks_highlighting = suggestion
resharper_bad_expression_braces_indent_highlighting = suggestion
resharper_bad_expression_braces_line_breaks_highlighting = suggestion
resharper_bad_generic_brackets_spaces_highlighting = suggestion
resharper_bad_indent_highlighting = suggestion
resharper_bad_linq_line_breaks_highlighting = suggestion
resharper_bad_list_line_breaks_highlighting = suggestion
resharper_bad_member_access_spaces_highlighting = suggestion
resharper_bad_namespace_braces_indent_highlighting = suggestion
resharper_bad_parens_line_breaks_highlighting = suggestion
resharper_bad_parens_spaces_highlighting = suggestion
resharper_bad_preprocessor_indent_highlighting = suggestion
resharper_bad_semicolon_spaces_highlighting = suggestion
resharper_bad_spaces_after_keyword_highlighting = suggestion
resharper_bad_square_brackets_spaces_highlighting = suggestion
resharper_bad_switch_braces_indent_highlighting = suggestion
resharper_bad_symbol_spaces_highlighting = suggestion
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_class_can_be_sealed_global_highlighting = suggestion
resharper_class_can_be_sealed_local_highlighting = suggestion
resharper_cognitive_complexity_highlighting = none
resharper_compare_non_constrained_generic_with_null_highlighting = suggestion
resharper_enforce_do_while_statement_braces_highlighting = hint
resharper_enforce_fixed_statement_braces_highlighting = hint
resharper_enforce_foreach_statement_braces_highlighting = hint
resharper_enforce_for_statement_braces_highlighting = hint
resharper_enforce_if_statement_braces_highlighting = hint
resharper_enforce_lock_statement_braces_highlighting = hint
resharper_enforce_using_statement_braces_highlighting = hint
resharper_enforce_while_statement_braces_highlighting = hint
resharper_function_complexity_overflow_highlighting = suggestion
resharper_incorrect_blank_lines_near_braces_highlighting = suggestion
resharper_localizable_element_highlighting = suggestion
resharper_local_function_can_be_made_static_highlighting = suggestion
resharper_missing_blank_lines_highlighting = suggestion
resharper_missing_indent_highlighting = suggestion
resharper_missing_linebreak_highlighting = suggestion
resharper_missing_space_highlighting = suggestion
resharper_multiple_spaces_highlighting = suggestion
resharper_multiple_statements_on_one_line_highlighting = suggestion
resharper_multiple_type_members_on_one_line_highlighting = suggestion
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_outdent_is_off_prev_level_highlighting = suggestion
resharper_parameter_type_can_be_enumerable_global_highlighting = hint
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_blank_lines_highlighting = suggestion
resharper_redundant_linebreak_highlighting = suggestion
resharper_redundant_space_highlighting = suggestion
resharper_remove_redundant_braces_highlighting = hint
resharper_string_ends_with_is_culture_specific_highlighting = suggestion
resharper_string_starts_with_is_culture_specific_highlighting = suggestion
resharper_struct_member_can_be_made_read_only_highlighting = suggestion
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_tabs_and_spaces_mismatch_highlighting = suggestion
resharper_tabs_outside_indent_highlighting = suggestion
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_wrong_indent_size_highlighting = suggestion

[*.cs]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axaml,blockshader,build,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,razor,resw,resx,shader,shaderFoundry,skin,tcc,tpp,urtshader,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
