<p style="display: inline-block;">
    <button onclick="DownloadToExcel()" class="btn btn-primary">Download to Excel</button>
    <button onclick="Print()" class="btn btn-primary">Print</button>
</p>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script>function Print() {
var divToPrint = document.getElementById('table');
var htmlToPrint = '' +
    '<style type="text/css">' +
    'table th, table td {' +
    'border:1px solid #000;' +
    'padding;0.5em;' +
    '}' +
    '</style>';
htmlToPrint += divToPrint.outerHTML;
newWin = window.open("");
newWin.document.write(htmlToPrint);
newWin.print();
newWin.close();
}

function DownloadToExcel() {

var htmls = $("#table").html();
var uri = 'data:application/vnd.ms-excel;base64,';
var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
var base64 = function (s) {
    return window.btoa(unescape(encodeURIComponent(s)))
};

var format = function (s, c) {
    return s.replace(/{(\w+)}/g, function (m, p) {
        return c[p];
    })
};

var ctx = {
    worksheet: "table",
    table: '<table>' + htmls + '</table>'
}

var compareLink = document.createElement("a");
compareLink.download = "table.xls";
compareLink.href = uri + base64(format(template, ctx));
compareLink.click();
}
</script>


<script>
    $(document).ready( function () {
        $('#table').DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });
    } );
</script>
