<p style="display: inline-block;">
    <button onclick="DownloadToExcel()" class="btn btn-primary">Download to Excel</button>
    <button onclick="Print()" class="btn btn-primary">Print</button>
</p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>function Print() {
    var table = document.getElementById("table");
    var html = table.outerHTML;
    var printWindow = window.open('');
    printWindow.document.write('<html><head><title>Print</title>');
    printWindow.document.write('</head><body >');
    printWindow.document.write(html);
    printWindow.document.write('</body></html>' +
        '<style type="text/css">' +
        'table th, table td {' +
        'border-bottom: 1px solid #000;' +
        '}' +
        '</style>');
    printWindow.document.close()

    printWindow.onafterprint = function () {
        printWindow.close();
    }
    printWindow.print();
}

function DownloadToExcel() {

var htmls = $("#table").html();
var uri = 'data:application/vnd.ms-excel;base64,';
var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
var base64 = function (s) {
    return window.btoa(unescape(encodeURIComponent(s)))
};

var format = function (s, c) {
    return s.replace(/{(\w+)}/g, function (m, p) {
        return c[p];
    })
};

var ctx = {
    worksheet: "table",
    table: '<table>' + htmls + '</table>'
}

var compareLink = document.createElement("a");
compareLink.download = "table.xls";
compareLink.href = uri + base64(format(template, ctx));
compareLink.click();
}
</script>

